<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <filter id="blur">
            <feGaussianBlur stdDeviation="4"/>
        </filter>
    </defs>
    <mask id="moonMask">
        <rect width="200" height="200" fill="white"/>
        <ellipse id="shadow" cx="100" cy="100" rx="100" ry="100" fill="#292929" filter="url(#blur)">
            <animate attributeName="cx" from="300" to="-100" [attr.dur]="cycleDuration" repeatCount="indefinite"/>
        </ellipse>
    </mask>
    <g>
        <image transform-origin="0 0" [attr.href]="imgSrc" x="0" y="0" width="200" height="200" mask="url(#moonMask)">
            <animateTransform 
                attributeName="transform"
                type="rotate"
                from="0 100 100"
                to="360 100 100"
                [attr.dur]="rotationDuration"
                repeatCount="indefinite"/>
        </image>
        <animateTransform
                attributeName="transform"
                type="translate"
                additive="sum"
                from="-210"
                to="310"
                [attr.dur]="translateDuration"
                repeatCount="indefinite" />
        <animateTransform
            attributeName="transform"
            type="scale"
            additive="sum"
            from="0.5"
            to="1.5"
            [attr.dur]="translateDuration"
            repeatCount="indefinite" />
    </g>
</svg>