<div class="frame">
    <particle-canvas [numParticlesPerAnimationFrame]="5000"
                     [particleConfigGetter]="staticStarBackgroundParticleConfig"></particle-canvas>
    <particle-canvas [numParticlesPerAnimationFrame]="10"
                     [maxParticleNumber]="500"
                     [animation]="true"
                     [particleConfigGetter]="animatedStarBackgroundParticleConfig"></particle-canvas>
    <moon class="moon"
          [duration]="120"></moon>
    <div class="title">
        <img src="../assets/txt.svg" />
    </div>
</div>