<ng-container *ngIf="configuration | async as vm">
    <div class="frame">
        <particle-canvas [numParticlesPerAnimationFrame]="vm.numberOfStaticStars"
                         [particleConfigGetter]="staticStarBackgroundParticleConfig"></particle-canvas>
        <particle-canvas [numParticlesPerAnimationFrame]="10"
                         [maxParticleNumber]="vm.maxNumberOfShootingStars"
                         [animation]="true"
                         [particleConfigGetter]="animatedStarBackgroundParticleConfig"></particle-canvas>
        <moon class="moon"
              [imgSrc]="vm.moonImageSrc"
              [changeImageTime]="vm.moonChangeImageTime"
              [moonRotationAnimationDuration]="vm.moonRotationAnimationDuration"
              [moonCycleAnimationDuration]="vm.moonCycleAnimationDuration"
              [moonTranslateAnimationDuration]="vm.moonTranslateAnimationDuration"></moon>
        <div class="title">
            <img [src]="vm.logoSrc" />
        </div>
    </div>
</ng-container>